
<div class="alert alert-success alert-dismissable hide" id="alertPDF" >
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <div class="right">
         <img src="{{ asset('img/pdf-notif.png') }}" alt="" />
         <span class="text-notif">Please note PDF generation will be disabled for maintenance purposes on <strong>August 24th 2017</strong> between <strong>6:00am and 8:30am GMT.</strong></span>
    </div>
</div>

<div class="alert alert-danger alert-dismissable hide" id="alertDangerPDF">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <div class="right">
        <img src="{{ asset('img/pdf-notif.png') }}" alt="" />
        <span class="text-notif">Please note PDF generation is disabled for maintenance purposes on <strong>August 24th between </strong> <strong>6:00am and 8:30am GMT.</strong> </span>
    </div>
</div>