<div id="popup" class="popup-inner" {% if overlay is defined and overlay is not empty %}{{ overlay|raw }}{% endif %} data-popup data-prevent-tap="true">
    <div id="boxPopup">
        <div id="scrollerPopup">
            <div contentPopup id="contentPopup"></div>
        </div>
        <div btnClose>{% set src   = '../shared/' ~ shared ~ '/theme/theme1/images/template_btn_close.png' %}{% set class = 'emptydata' %}{% if close is defined and close is not empty %}{% set src = close %}{% set class = 'fulldata' %}{% endif %}<img src="../shared/{{ src|raw }}" class="{{ class }}"></div>
    </div>
</div>
