/* RESET CSS*/
body,ul,li{ margin: 0; padding: 0;}
body *{
 -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*@font-face {
  font-family: 'avalon';
  src: url('../shared/dev_framework_shared/fonts/avalon.ttf') format('truetype');
}*/
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: normal;
   src: url('../shared/dev_framework_shared/fonts/Montserrat-Regular.otf') format('truetype');
}

/* TEMPLATE CSS */
#stage{
    width: 1024px;height: 768px;
    position: relative;
    z-index: 1;
}
#stage .content{
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0;left: 0;
    display: block;
    overflow: hidden;
}
#stage #maskMenu{
    width: 100%;
    height: 55.5px;
    position: absolute;
    bottom: 0;
    background: #204ddb;
}

#maskMenu{
    width: 100%;
    height: 55.5px;
    position: absolute;
    bottom: 0;
    background: rgb(74, 86, 103);
}
a{
  text-decoration: none !important;
}
